<nb-layout>
  <nb-layout-column *ngFor="let dates of date">
    <nb-card status="primary">
      <nb-card-header></nb-card-header>
      <nb-card-body>
        <h1>
          {{ dates.month }}
          <br />
          {{ dates.day }}
        </h1>
        <nb-actions>
          <nb-action class="frst">
            <nb-icon icon="radio-button-on-outline" status="success"></nb-icon>
          </nb-action>
          <nb-action>
            <nb-icon icon="radio-button-on-outline" status="success"></nb-icon>
          </nb-action>
          <nb-action>
            <nb-icon icon="radio-button-on-outline" status="success"></nb-icon>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
