<nb-layout center="true">
  <nb-layout-column>
    <nb-card status="primary" *ngFor="let dates of date">
      <nb-card-header></nb-card-header>
      <nb-card-body>
        <h1>
          {{ dates.month }}
        </h1>
        <h1>
          {{ dates.day }}
        </h1>
        <nb-actions>
          <nb-action *ngFor="let slot of dates.slots; let i = index">
            <nb-icon
              icon="radio-button-on-outline"
              [status]="slot[i] ? 'success' : 'danger'"
            ></nb-icon>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
