@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/dark";

$nb-themes: nb-register-theme(
  (
    color-primary-100: #cecbf9,
    color-primary-200: #a099f3,
    color-primary-300: #6a61dd,
    color-primary-400: #4138bb,
    color-primary-500: #120a8f,
    color-primary-600: #0d077a,
    color-primary-700: #090566,
    color-primary-800: #060352,
    color-primary-900: #040144,
    color-primary-transparent-100: rgba(18, 10, 143, 0.08),
    color-primary-transparent-200: rgba(18, 10, 143, 0.16),
    color-primary-transparent-300: rgba(18, 10, 143, 0.24),
    color-primary-transparent-400: rgba(18, 10, 143, 0.32),
    color-primary-transparent-500: rgba(18, 10, 143, 0.4),
    color-primary-transparent-600: rgba(18, 10, 143, 0.48),
    color-success-100: #e8fbd3,
    color-success-200: #ccf8a9,
    color-success-300: #a4ec7b,
    color-success-400: #7dd958,
    color-success-500: #49c128,
    color-success-600: #30a51d,
    color-success-700: #1c8a14,
    color-success-800: #0c6f0d,
    color-success-900: #075c0e,
    color-success-transparent-100: rgba(73, 193, 40, 0.08),
    color-success-transparent-200: rgba(73, 193, 40, 0.16),
    color-success-transparent-300: rgba(73, 193, 40, 0.24),
    color-success-transparent-400: rgba(73, 193, 40, 0.32),
    color-success-transparent-500: rgba(73, 193, 40, 0.4),
    color-success-transparent-600: rgba(73, 193, 40, 0.48),
    color-info-100: #c9fbf8,
    color-info-200: #95f8f8,
    color-info-300: #5ee2ec,
    color-info-400: #36c2d9,
    color-info-500: #0097c1,
    color-info-600: #0075a5,
    color-info-700: #00588a,
    color-info-800: #003f6f,
    color-info-900: #002d5c,
    color-info-transparent-100: rgba(0, 151, 193, 0.08),
    color-info-transparent-200: rgba(0, 151, 193, 0.16),
    color-info-transparent-300: rgba(0, 151, 193, 0.24),
    color-info-transparent-400: rgba(0, 151, 193, 0.32),
    color-info-transparent-500: rgba(0, 151, 193, 0.4),
    color-info-transparent-600: rgba(0, 151, 193, 0.48),
    color-warning-100: #fbf3c9,
    color-warning-200: #f8e495,
    color-warning-300: #eccb5f,
    color-warning-400: #d9ae37,
    color-warning-500: #c18801,
    color-warning-600: #a56f00,
    color-warning-700: #8a5900,
    color-warning-800: #6f4400,
    color-warning-900: #5c3500,
    color-warning-transparent-100: rgba(193, 136, 1, 0.08),
    color-warning-transparent-200: rgba(193, 136, 1, 0.16),
    color-warning-transparent-300: rgba(193, 136, 1, 0.24),
    color-warning-transparent-400: rgba(193, 136, 1, 0.32),
    color-warning-transparent-500: rgba(193, 136, 1, 0.4),
    color-warning-transparent-600: rgba(193, 136, 1, 0.48),
    color-danger-100: #fae0cf,
    color-danger-200: #f5bba0,
    color-danger-300: #e3896d,
    color-danger-400: #c75a46,
    color-danger-500: #a32016,
    color-danger-600: #8c1011,
    color-danger-700: #750b15,
    color-danger-800: #5e0716,
    color-danger-900: #4e0417,
    color-danger-transparent-100: rgba(163, 32, 22, 0.08),
    color-danger-transparent-200: rgba(163, 32, 22, 0.16),
    color-danger-transparent-300: rgba(163, 32, 22, 0.24),
    color-danger-transparent-400: rgba(163, 32, 22, 0.32),
    color-danger-transparent-500: rgba(163, 32, 22, 0.4),
    color-danger-transparent-600: rgba(163, 32, 22, 0.48),
  ),
  custom-theme,
  dark
);
